body {background-color:bisque}

#Logo {float:left;}
#Logo {float:right;}
#Navigation 

clear:both; 
border-top:Solid black 1px; 
padding:20px 0px 20px 0px;
border-bottom:Solid black 1px;

#Navigation a {font-family:Arial; 
color:black; 
margin:10px 0px 0px 100px;
}
#Navigation a:hover {color:tomato;}

#Title
{
    color:tomato;
    border-bottom:solid 1px black;
}

#RightContent h4 {color:orange;}

#LeftContent IMG {margin:10px} 
#LeftContent IMG {border}

#LeftContent {float:left; width:}
#RightContent {float:right; width:}
footer {clear:both;}

#Kotak {background-color:aliceblue; margin:0px auto; width:}